# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/

# FastAPI uploads
fastapi_app/uploads/*.csv

# Node
node_modules/

# Angular
.angular/cache/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
